<div class="homePage">
  <section id="MainImageContainer">
    <div class="imageBox-MainImage">
      <img src="../../assets/back-main.jpg" alt="">
    </div>
    <div class="titleMainImageContainer">
      <h3>Tayal Caterers</h3>
      <span>Working hard since 10 years to make your events memorable...</span>
    </div>
  </section>
  <section id="AboutUs" class="container text-center">
    <div class="sec-heading welcomeHeadingAboutUs">
      <span>Welcome to Tayal Caterers</span>
    </div>
    <div class="aboutUs">
      <span>
        Tayal Caterers Is a Respected Name In Catering Since 1999 Providing Best In Class Catering Services In Meerut, NCR And Surrounding Areas. Be It a Marriage Function Or a Birthday Party Or Any Corporate Event, We Can Handle Them All In Style, And With Utmost Commitment. 
        <br> <br> We Are famous For Preparing "Shudh Vegetarian Food" In Pure Desi Ghee And Typical Old Delhi's Chaatpapri, Golgappas, Tikki, Chilla, MatarKulcha &amp; Such Other Snacks. As Planners, We Have Tie-Ups/Arrangements With Various Suppliers From Catering To Artistes To Jewelers To Cloths to Every Little Requirement That Usually Arises In These Functions. We Negotiate With Different Suppliers According To Your Budget Size And Thus Can Clinch The Best Bargains For You In The Process. As Planners, We Also Reduce Your Running Around By As Much As 50 Percent And Let You Focus On The Main Event Easily. And Since We Are Always Up To Date With The Latest Decor Style And Catering Fads, We Can Really Help You In Making This Event a Unique And Memorable One. 
        <br> <br> So, Give Us a Chance To Serve You &amp; We Ensure That The Memories Of Your Function Shall Cherish In The Minds Of Your Guests For a Long-Long Time.
      </span>
    </div>
  </section>
  <section id="OurServices" class="container text-center">
    <div class="servicesContainer">
      <div class="sec-heading servicesHeading">
        <span>Our Services</span>
      </div>
    </div>
    <div class="servicesCards">
      <ul class="row">
        <li class="col-md-3">
          <div class="service">
            <div class="serviceLogoBox">
              <img src="../../assets/wedding.png" alt="">
            </div>
            <div class="serviceName">
              <span>Wedding</span>
            </div>
          </div>
        </li>
        <li class="col-md-3">
          <div class="service">
            <div class="serviceLogoBox">
              <img src="../../assets/cake.png" alt="">
            </div>
            <div class="serviceName">
              <span>Birthday Party</span>
            </div>
          </div>
        </li>
        <li class="col-md-3">
          <div class="service">
            <div class="serviceLogoBox">
              <img src="../../assets/party.png" alt="">
            </div>
            <div class="serviceName">
              <span>Individual Party</span>
            </div>
          </div>
          
        </li>
        <li class="col-md-3">
          <div class="service">
            <div class="serviceLogoBox">
              <img src="../../assets/hand-shake.png" alt="">
            </div>
            <div class="serviceName">
              <span>Corporate Event</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>