#MainImageContainer {
    margin-top: 9vh;
}

.imageBox-MainImage {
    width: 100%;
    height: 78vh;
}

.imageBox-MainImage img {
    width: 100%;
    height: 100%;
}

.titleMainImageContainer {
    width: 400px;
    height: auto;
    position: absolute;
    top: 15vh;
    left: 6vh;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    padding-bottom: 30px;
}

.titleMainImageContainer h3 {
    color: #fff;
    font-size: 54px;
    font-family: railway;
    margin: 5px 0px;
}

.titleMainImageContainer span {
    color: #fff8dc;
    font-size: 18px;
    padding-left: 2px;
}


.sec-heading {
    padding: 25px 0px 10px 0px;
    font-size: 46px;
    color: #3e3e3e;
}

.aboutUs {
    padding: 0px 10px 10px 10px;
}

.servicesCards ul {
    list-style: none;
    padding: 10px 0px;
}

.service ul li {
    padding: 10px;
}
.service {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    height: 140px;
    padding: 20px;
    cursor: pointer;
}
.serviceName {
    padding-top: 5px;
}

.service:hover {
    color: #0268e4;
    box-shadow: 3px 2px 6px rgba(0,0,0,0.3);
}

@media screen and (max-width: 720px) {
    
    .titleMainImageContainer {
        width: 250px;
        height: auto;
        position: absolute;
        top: 12vh;
        left: 3vh;
        background: rgba(0,0,0,0.4);
        padding: 10px;
        padding-bottom: 20px;
    }
    .titleMainImageContainer span {
        font-size: 14px;
        padding-left: 0px;
    }
    .titleMainImageContainer h3 {
        color: #fff;
        font-size: 28px;
        font-family: railway;
        margin: 5px 0px;
    }
    .imageBox-MainImage {
        height: 50vh;
    }
}