<div class="indexPage">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="navbar-brand">
      <div class="brandImageBox">
        <img src="../../assets/TC_logo.png" alt="">
      </div>
    </div>
    <!-- Fix nav bar mobile toggle issue -->
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Our Menu</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">&nbsp;Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
  <app-home-page></app-home-page>
</div>